.footer {
    padding: 41px 0 24px;
    background-color: var(--bg-d);

    @include small-tablet {
        padding-bottom: 65px;
    }

    &__wrapp {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 45px;
    }

    &__logo {
        margin-bottom: 30px;
    }

    &__accreditation {
        margin-bottom: 35px;
        max-width: 280px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 19px;
        line-height: 120%;
        font-weight: 600;
        color: var(--cl-g);
        letter-spacing: 0.03em;

        span {
            color: var(--cl-a);
        }
    }

    &__box {
        width: 100%;
        display: flex;
        align-items: flex-start;
        gap: clamp(20px, 4.861vw, 70px);

        @include small-tablet {
            flex-direction: column;
            gap: 33px;
        }

        &-contacts {
            display: flex;
            flex-direction: column;
            gap: 15px;

            @include mobile {
                gap: 25px;
            }
        }

        &-nav {
            display: flex;
            flex-direction: column;
            gap: 20px;

            @include mobile {
                gap: 25px;
            }
        }
    }

    &__title {
        font-size: 19px;
        line-height: 110%;
        font-weight: 800;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--cl-a);
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        gap: 15px;

        &-info {
            display: flex;
            gap: 10px;
            font-size: 16px;
            line-height: 100%;
            font-weight: 500;
            letter-spacing: 0.03em;
            color: var(--cl-a);
        }

        a p {
            text-decoration: underline;
        }
    }

    &__menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px clamp(25px, 5.208vw, 75px);
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.03em;
        color: var(--cl-a);
    }

    &__bottom {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0 14px;
        font-size: 12px;
        line-height: 140%;
        color: var(--cl-a);
        letter-spacing: 0.03em;

        a {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: -10px;
                transform: translateY(-50%);
                width: 4px;
                height: 1px;
                background-color: var(--bg-a);
            }
        }

        @include mobile {
            p {
                width: 100%;
            }

            a:first-child {
                color: red;
            }
        }
    }
}