<footer class="footer">
  <div class="container">
    Footer
    <!-- <div class="footer__box">
      <button class="up-btn">
        <svg width='49' height='49'>
          <use href='img/sprite/sprite.svg#arrow-up'></use>
        </svg>
      </button>

      <a href="/" class="logo">
        <img width='89' height='32' src='img/sprite/logo.svg' alt='image'>
      </a>

      <ul class="contacts">
        <li class="contacts__item">
          <span class="contacts__text">
            <svg width='20' height='20'>
              <use href='img/sprite/sprite.svg#geo'></use>
            </svg>
            вул. Швабська, 21
          </span>

          <a class="contacts__link" href="tel:380631373355">
            <svg width='20' height='20'>
              <use href='img/sprite/sprite.svg#call'></use>
            </svg>
            063-137-3355
          </a>
        </li>

        <li class="contacts__item">
          <span class="contacts__text">
            <svg width='20' height='20'>
              <use href='img/sprite/sprite.svg#geo'></use>
            </svg>
           вул. Гойди, 10
          </span>

          <a class="contacts__link" href="tel:380631373355">
            <svg width='20' height='20'>
              <use href='img/sprite/sprite.svg#call'></use>
            </svg>
            063-137-3355
          </a>
        </li>
      </ul>

      <div class="socials" data-title="Слідкуйте за нами">
        <ul class="socials__list">
          <li class="socials__item">
            <a class="socials__link" href="#">
              <svg width='30' height='30'>
                <use href='img/sprite/sprite.svg#Viber'></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="#">
              <svg width='30' height='30'>
                <use href='img/sprite/sprite.svg#tg'></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="#">
              <svg width='30' height='30'>
                <use href='img/sprite/sprite.svg#inst'></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="#">
              <svg width='30' height='30'>
                <use href='img/sprite/sprite.svg#fb'></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div> -->
  </div>
</footer>