<footer class="footer">
  <div class="container">
    <div class="footer__wrapp">
      <div class="footer__box">
        <div class="footer__box-left">
          <a class="footer__logo" href="/">
            <img width='300' height='60' src='img/logo-white.png' alt='Symington Drugs Pharmacy'>
          </a>

          <div class="footer__accreditation">
            <span>PHARMACY ACCREDITATION</span>
            <p>OCP Certificate Accreditation #13086</p>
          </div>

          <div class="footer__payments">
            <picture>
              <source type='image/webp' srcset='img/payments.webp'>
              <img width='325' height='30' src='img/payments.png' alt='Payments methods'>
            </picture>
          </div>
        </div>

        <div class="footer__box-contacts">
          <div class="footer__title">Contacts</div>

          <div class="footer__contacts">
            <div class="footer__contacts-info">
              <svg width='16' height='20'>
                <use href='img/sprite/sprite.svg#location'></use>
              </svg>
              <p>Symington Drugs 333 <br>
                Symington Ave, Toronto ON M6P 3X1</p>
            </div>
            <a class="footer__contacts-info" href="tel:+14165339695">
              <svg width='18' height='18'>
                <use href='img/sprite/sprite.svg#phone'></use>
              </svg>
              <p>+14165339695</p>
            </a>
            <a class="footer__contacts-info" href="mailto:contact@symingtonpharmacy.ca">
              <svg width='18' height='18'>
                <use href='img/sprite/sprite.svg#mail'></use>
              </svg>
              <p>contact@symingtonpharmacy.ca</p>
            </a>
            <div class="footer__contacts-info">
              <svg width='16' height='20'>
                <use href='img/sprite/sprite.svg#schedule'></use>
              </svg>
              <p>
                Mo-Fr 10 am - 5pm <br>
                Sat 10 am - 2pm
              </p>
            </div>
          </div>
        </div>

        <div class="footer__box-nav">
          <div class="footer__title">CAN WE HELP?</div>

          <ul class="footer__menu">
            <li>
              <a href="#">Contact Us</a>
            </li>
            <li>
              <a href="#">Terms of Service</a>
            </li>
            <li>
              <a href="#">Privacy Policy</a>
            </li>
            <li>
              <a href="#">Wholesale</a>
            </li>
            <li>
              <a href="#">Refund Policy</a>
            </li>
            <li>
              <a href="#">News</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="footer__bottom">
        <p>© 2024, Symington Drugs Pharmacy</p>
        <a href="#">Refund policy</a>
        <a href="#">Privacy policy</a>
        <a href="#">Terms of service</a>
      </div>
    </div>
  </div>
</footer>