<header class="header fixed-block">
  <div class="container">
    Header
    <!-- <div class="header__box">
      <a href="/" class="logo">
        <img width='223' height='50' src='img/sprite/logo.svg' alt='image'>
      </a>

      <button class="burger">
        <span class="burger__line"></span>
      </button>

      <div class="mobile">
        <div class="mobile__box">
          <nav class="header__nav">
            <ul>
              <li>
                <a href="#">Контакти</a>
              </li>
              <li>
                <a href="#">Курс валют</a>
              </li>
              <li>
                <a href="#">Про нас</a>
              </li>
            </ul>
          </nav>

          <a href="#" class="transparent-btn">
            Переказати кошти
          </a>

          <a href="tel:380732005180" class="main-btn">
            Обміняти валюту
            <svg width='20' height='20'>
              <use href='img/sprite/sprite.svg#ArrowLeft'></use>
            </svg>
          </a>
        </div>
      </div>
    </div> -->
  </div>
</header>