<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="Description" content="Symington">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Symington</title>

  <link rel="preload" href="fonts/RedHatDisplay-Regular.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/RedHatDisplay-Medium.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/RedHatDisplay-SemiBold.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/RedHatDisplay-Bold.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/RedHatDisplay-ExtraBold.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/RedHatDisplay-Black.woff" as="font" crossorigin="anonymous">

  <link rel="stylesheet" href="css/style.css">
</head>
