<div class="overlay fixed-block" data-overlay>
  <div class="modal" data-popup="thank">
    <div class="modal__box">
      <div class="modal__top">
        <a href="/" class="logo">
          <img width='89' height='32' src='img/sprite/logo.svg' alt='image'>
        </a>

        <button class="close modal__close">
          Закрити
          <svg width='30' height='30'>
            <use href='img/sprite/sprite.svg#close'></use>
          </svg>
        </button>
      </div>

      <div class="modal__inner">
        Modal Inner
      </div>
    </div>
  </div>
</div>