:root {
  // --------------- default global variables ---------------
  // --error-bg: #d01f1f;
  // --body-bg: #211C29;
  --body-font-size: 16px;
  --content-width: 1189px;
  --content-width-mode: 1920px;
  --content-width-mini: 952px;

  --container-offset: clamp(12px, 1.6667vw, 24px);
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // --container-width-mode: calc(var(--content-width-mode) + (var(--container-offset) * 2));

  // --------------- default scroll variables ---------------
  // --scrollbar-thumb:  #7FFF92;
  // --scrollbar-track: rgba(0, 0, 0, 0.18);
  // --scrollbar-track-hover: transparent;
  // --overlay-bg: rgba(0, 0, 0, 0.5);

    // --------------- default JS variables ---------------
    --header-height: 120px;
 
    @include tablet{
      --header-height: 64px;
    }

  // --------------- default font-family variables ---------------

  --font-family: "Red Hat Display", sans-serif; // var(--font-family);

  // --------------- default text color variables ---------------
  --cl-a: #ffffff; // var(--cl-a);
  --cl-b: #000000; // var(--cl-b);
  --cl-c: #43B94B; // var(--cl-c);
  --cl-d: #2C8132; // var(--cl-d);

  // --------------- default background color variables ---------------
  --bg-a: #ffffff; // var(--bg-a);
  --bg-b: #000000; // var(--bg-b);
  --bg-c: #43B94B; // var(--bg-c);
  --bg-d: #2C8132; // var(--bg-d);
  --bg-f: #E7FFE8; // var(--bg-f);

  // --------------- default border color variable ---------------
  --br-a: #43B94B; // var(--br-a);
  --br-b: #E7FFE8; // var(--br-b);
  --br-c: #d9d9d9; // var(--br-c);
 
 // --------------- loader variable -------------------------------
 --loader: linear-gradient(90deg, #7FFF92 0%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 5%, #FEFAE9 10%); // var(--loader);
}       


